@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e2e2e2;
    font-family: 'Space Mono', monospace;
    font-size: 18px;
    color: #2b2b2b;
}

.logo {
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    letter-spacing: -.025em;
    font-size: 15vw;
    line-height: 17vw;
    width: 100vw;
    overflow: hidden;
    text-align: center;
    color: #2b2b2b;
}

.section {
    margin: 40px 0px;
    display: grid;
    grid-template-columns: 1fr auto auto 1fr;
}

.container-product {
    position: relative;
    grid-column-start: 3;
}

.product-svg {
    position: relative;
    z-index: 2;
    mix-blend-mode: multiply;
    top: 0px;
    left: 0px;
    width: 650px;
}

.product-shape {
    fill: #5c67e1;
}

.background-image {
    position: absolute;
    height: auto;
    top: 0px;
    left: 0px;
}

.product-description {
      padding: 0px 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      letter-spacing: 0.35px;
      line-height: 30px;
      height: 775px;
      max-width: 550px;
      grid-column-start: 2;

      /* box-sizing:content-box; */
}

h2 {
    font-family: 'Space Mono', monospace;
    font-size: 40px;
    font-weight: 400;
    text-align: right;
}

p {
      font-size: 18px;
      text-align: right;
      font-family: 'Space Mono', monospace;
}

.color-change-dot {
      display: inline-block;
}

.dot {
    height: 40px;
    width: 40px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
}

.dot:nth-child(1) {
    background-color: #5c67e1;
}

.dot:nth-child(2) {
    background-color: #484848;
}

.dot:nth-child(3) {
    background-color: #d898aa;
}

.dot:nth-child(4) {
    background-color: #dfa321;
}

.dot:nth-child(5) {
    background-color: "#c7c7c7;
}

.color-name {
      text-transform: uppercase;
      margin-left: 10px;
}

.dot:hover {
    cursor: pointer;
}

.dotSelected {
    border: 3px solid #2b2b2b;
}




hr {
    border: 1px solid #2b2b2b;
}

a {
    border: 2px solid #2b2b2b;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-family: 'Space Mono', monospace;
    font-size: 20px;
    font-weight: 400;
    line-height: 50px;
    color: #2b2b2b;
}

a:hover {
      background-color: #2b2b2b;
      color: white;
}

