/* 

This code was made with 🤍 for dev.glowUp Youtube Channel

    #CodingTrends Series   |   nº3  Product Color Change with Jquery & SVG

    ⚡️VIDEO: https://youtu.be/xD6sN91ZFMU

    ✨Youtube:   https://www.youtube.com/channel/UCo9OcY66VYb4BgFBwvEdCLw
    ✨Github:    https://github.com/dev-glowUp
    ✨Website:   https://dev-glowup.myportfolio.com/
    ✨Medium:    https://medium.com/dev-glowup
    ✨Pinterest: https://www.pinterest.pt/dev_glowup/

    🌟 Follow & Subscribe for more.. Thank you! 🌟
    
    Created by Beatriz Novais

*/

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align:top;
}

:root {
    /* COLOR */
    --backgroud: #e2e2e2;
    --text:  #2b2b2b;
    
    --indigo: #5c67e1;
    --anthracite: #484848;
    --dustyPink: #d898aa;
    --mustard: #dfa321;
    --silver: #bbb;
}

body {
    background-color: var(--backgroud);
    color: var(--text);
    font-family: 'Space Mono', monospace;
    font-size: 18px;
}

/* HERO / LOGO */

.logo {
    font-weight: 400;
    letter-spacing: -.025em;
    font-size: 15vw;
    line-height: 17vw;
    width: 100vw;
    overflow: hidden;
    text-align: center;
}

/* PRODUCT SECTION */

.section {
    margin: 40px 0px;
    display: grid;
    grid-template-columns: 1fr auto auto 1fr;
}

/* DESCRIPTION */

.product-description {
    grid-column-start: 2;
    padding: 0px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 775px;
    max-width: 550px;
    letter-spacing: 0.35px;
    line-height: 30px;
}

h2 {
  font-size: 40px;
  font-weight: 400;
  text-align: right;
}

p {
    text-align: right;
}

hr {
    border: 1px solid var(--text);
  }

/* PRODUCT COLOR OPTIONS - DOT */

.dot {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-left: 10px;
  display: inline-block;
  cursor: pointer;
}

.dot:nth-child(1) {
  background-color: var(--indigo)
}

.dot:nth-child(2) {
  background-color: var(--anthracite);
}

.dot:nth-child(3) {
  background-color: var(--dustyPink);
}

.dot:nth-child(4) {
  background-color: var(--mustard);
}

.dot:nth-child(5) {
  background-color: var(--silver);
}

.color-name {
    text-transform: uppercase;
    margin-left: 10px;
}

.dot:hover {
    border: 3px solid var(--text);
    cursor: pointer;
}

/* ADD TO CART BUTON */

a {
  border: 2px solid var(--text);
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  line-height: 50px;
  color: var(--text);
}

a:hover {
    background-color: var(--text);
    color: var(--backgroud);
}

/* PRODUCT IMAGE */

.container-product {
    position: relative;
    grid-column-start: 3;
}

/* IMAGE */

.background-image {
    position: absolute;
    height: auto;
    top: 0px;
    left: 0px;
}

/* SVG */

.product-svg {
    position: relative;
    z-index: 2;
    mix-blend-mode: multiply;
    top: 0px;
    left: 0px;
    width: 650px;
}

